.rd-settings-documentation {
	max-width: 50em;
}

#wopi {
	input[name='wopi_url'] {
		width: 300px;
	}
	#use_group_select, #edit_group_select {
		width: 200px; display: block;
	}
	p {
		margin-bottom: 15px;
	}
	#s2id_use_group_select,
	#s2id_edit_group_select {
		margin-left: 18px;
		margin-top: -4px;
		width: 300px !important;
	}
}

#wopi,
#wopi-templates {
	// inline buttons on section headers
	> h2 {
		display: inline-flex;
		align-items: center;

		.icon-info,
		.icon-add,
		.icon-loading-small {
			width: 44px;
			height: 44px;
			margin: -6px;
			margin-left: 10px;
			opacity: 0.5;
			white-space: nowrap;
			line-height: 44px;
			padding-left: 44px;
			font-size: 16px;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.7;
			}
		}
	}
}

#wopi-templates {
	> input {
		// feedback for keyboard navigation
		&:hover,
		&:focus,
		&:active {
			+ h2 .icon-add,
			+ h2 .icon-loading-small {
				opacity: 0.7;
			}
			+ #emptycontent label {
				color: nc-lighten($color-main-text, 15%);		// 12&13 fallback
				color: $color-text-light;
			}
		}
	}
	ul:not(.hidden) {
		display: flex;
		flex-wrap: wrap;
		li {
			$size: 150px;
			$sizeY: $size / 210 * 297;
			$space: 10px;
			border-radius: 3px;						// 12&13 fallback
			border-radius: $border-radius;
			border: 1px solid $color-border;		// 12&13 fallback
			margin: $space;
			position: relative;
			figure {
				display: flex;
				flex-direction: column;
				width: $size;
				margin: $space;
				img, .templatePlaceholder {
					width: $size;
					height: $sizeY;
					background-color: nc-darken($color-main-background, 7%);	// 12&13 fallback
					background-color: $color-background-dark;
				}
				figcaption {
					margin-top: $space;
				}
			}
			.delete-cover,
			.delete-template {
				width: $size;
				height: $sizeY;
				top: 0;
				left: 0;
				position: absolute;
				margin: $space;
				opacity: 0;
				transition: opacity 250ms ease-in-out;
				z-index: 3;
				line-height: $sizeY;
				text-align: center;
				font-size: 20px;
				background-size: 24px;
				// text is set as bg
				color: nc-darken($color-main-background, 14%);			// 12&13 fallback
				color: $color-background-darker;
			}
			.delete-cover {
				// bg is set as color
				background-color: nc-lighten($color-main-text, 30%);	// 12&13 fallback
				background-color: $color-text-lighter;
				z-index: 2;
			}
			&:hover .delete-template,
			.delete-template:focus,
			.delete-template.icon-loading {
				opacity: 1;
				+ .delete-cover {
					opacity: 0.5;
				}
			}
		}
	}
}
