@media only screen and (max-width: 768px) {
	#header {
		display: none !important;
	}

	#content-wrapper {
		padding-top: 0;
	}

	#content {
		padding-top: 0;
	}

	#wopiframe {
		height: 100%;
		position: fixed;
	}

}
